.modal {
  border-radius: 20px;
  position: fixed;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__content_type_confirm {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 416px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}

.modal__title {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 24px 0;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

.modal__close:hover {
  opacity: 0.7;
}

.modal__buttons {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 28px;
}

.modal__button {
  display: flex;
  flex-direction: column-reverse;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: opacity 0.2s;
  min-width: 150px;
}

.modal__button_type_delete {
  font-weight: 700;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  line-height: 24px;
  background: none;
  color: #ff4d00;
  border: none;
}

.modal__button_type_delete:hover {
  opacity: 0.8;
}

.modal__button_type_cancel {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  color: #000000;
}

.modal__button_type_cancel:hover {
  opacity: 0.5;
}
