.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 35px;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  gap: 8px;
  font-weight: 700px;
  font-size: 16px;
  font-style: Bold;
  font-family: "Cabinet Grotesk";
}

.card__image {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-left: 21px;
  border-radius: 19px;
  border: 1px;
  padding: 1px 2px 1px 3px;
}
