.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 21px;
  padding: 0;
  list-style-type: none;
  gap: 15px;
  cursor: pointer;
}

.cards__text {
  font-family: "Cabinet Grotesk";
  margin-top: 40px;
  margin-bottom: 34px;
  font-size: 20px;
  font-weight: 700;
}
