.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 28px;
}

.header__section {
  display: flex;
  align-items: center;
}

.header__left {
  gap: 24px;
}

.header__right {
  gap: 20px;
}

.header__date-and-location {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk";
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 6px 12px;
}

.header__add-clothes-btn:hover {
  opacity: 0.6;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
  line-height: 100%;
}
