.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk";
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: auto;
  margin-right: 20px;
  margin: 0 20px 0 auto;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
}
