.clothes-section {
  flex-grow: 1;
}

.clothes-section__button {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  margin-left: 20px;
  cursor: pointer;
  background: none;
  border: none;
  color: #000000;
  opacity: 0.6;
  transition: opacity 0.2s;
}

.clothes-section__button :hover {
  opacity: 0.7;
}

.clothes-section__row {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  display: flex;
  margin-bottom: 16px;
  margin-left: 116px;
}

.clothes-section__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  cursor: zoom-in;
  /* grid-template-columns: repeat (auto-fit, 283px);
  grid-template-rows: repeat (auto-fit, 283px);
  padding: 0; */
}
